
/* navbar */

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    padding-top: 5px;
    
}

.Homee, a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 40px;
    color: rgb(21, 21, 206); 
}
.Hemi{
    color: rgb(221, 59, 0);
}

.Cont{
    display: flex;
    background-color: white;
    border: 1px solid rgb(238, 236, 236);
    color:  rgb(221, 59, 0);
    padding: 10px 15px 10px 15px;
}

/* section1 */

section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px ;
    gap: 50px;
}


.imagess{
    display: flex;
    padding-right: 20%;
    width: 30px;
    height: 300px;
}

.contr{
    display: flex;
    font-weight: bold;
    font-size: 40px;
   color: rgb(21, 21, 206);
}
.lorem1{
    display: flex;
    padding-bottom: 15px;
    color: rgb(160, 157, 157);
}
.butom1{
    display: flex;
    gap: 20px;
}