<<<<<<< HEAD
=======

/* navbar */

>>>>>>> simo
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    padding-top: 5px;
    
}

.Homee, a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 40px;
    color: rgb(21, 21, 206); 
}
.Hemi{
    color: rgb(221, 59, 0);
}

.Cont{
    display: flex;
    background-color: white;
    border: 1px solid rgb(238, 236, 236);
    color:  rgb(221, 59, 0);
    padding: 10px 15px 10px 15px;
<<<<<<< HEAD
=======
}

/* section1 */

section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px ;
    gap: 50px;
}


.imagess{
    display: flex;
    padding-right: 20%;
    width: 50px;
    height: 400px;
}

.contr{
    display: flex;
    font-weight: bold;
    font-size: 40px;
   color: rgb(21, 21, 206);
}
.lorem1{
    display: flex;
    padding-bottom: 15px;
    color: rgb(160, 157, 157);
}
.butom1{
    display: flex;
    gap: 20px;
<<<<<<< HEAD
>>>>>>> simo
}
=======
}
.botoum{
    background-color: rgb(248, 113, 64);
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}
.bton{
    background-color: white;
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    color: rgb(21, 21, 206);
    font-weight: bold;

}

/* section2 */

.section2{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 70px;
    padding-left: 50px;
    padding-bottom: 30px;
}
.description{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 20px;
    color: rgb(21, 21, 206);

}
.more{
    background-color: rgb(248, 113, 64);
    border: none;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

.cards{
    display: flex;
    align-items: center;
    gap: 20px;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px 5px 5px 20px;
    width: 280px;
    height: 200px;
}
.text-card p{
    text-align: justify;
    color: rgb(160, 157, 157);
}
.text-card h2{
    color:  rgb(21, 21, 206);
}
.icon{
    color: rgb(7, 7, 117);
}
>>>>>>> simo
